body {
	background-color:#d5e5ff;
	font-size:10pt;
	font-family: Calibri, Arial;
	margin:0;
	padding:0;
	color:#000000;
}

#content {
	background-color:#c0d0ff;
	border-color:#5050b0;
	border-style:solid;
	border-width:1px;
	width:800;
	margin:0px auto;
	padding:15px;
}

code {
	font-family: monospace, Arial;
}

opt {
	font-family: monospace, Arial;
}

h1 {
	font-size:200%;
	color:#000000;
	text-align:center;

h2 {
	font-size:170%;
	color:#000000;
	padding-top:10px;
}

h3 {
	font-size:130%;
	color:#000000;
	padding-top:6px;
}

h4 {
}

li {
	list-style-type:disc;
}

p {
	text-indent:10px;
}